<p id="notice"><%= notice %></p>

<h1>Entrepreneurs</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entrepreneurs.each do |entrepreneur| %>
      <tr>
        <td><%= entrepreneur.organization %></td>
        <td><%= link_to 'Show', entrepreneur %></td>
        <td><%= link_to 'Edit', edit_entrepreneur_path(entrepreneur) %></td>
        <td><%= link_to 'Destroy', entrepreneur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entrepreneur', new_entrepreneur_path %>
