<p id="notice"><%= notice %></p>

<h1>Intellectual Properties</h1>

<table>
  <thead>
    <tr>
      <th>Creation</th>
      <th>Description</th>
      <th>Institution</th>
      <th>Registration year</th>
      <th>Publication year</th>
      <th>Keywords</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intellectual_properties.each do |intellectual_property| %>
      <tr>
        <td><%= intellectual_property.creation %></td>
        <td><%= intellectual_property.description %></td>
        <td><%= intellectual_property.institution %></td>
        <td><%= intellectual_property.registration_year %></td>
        <td><%= intellectual_property.publication_year %></td>
        <td><%= intellectual_property.keywords %></td>
        <td><%= link_to 'Show', intellectual_property %></td>
        <td><%= link_to 'Edit', edit_intellectual_property_path(intellectual_property) %></td>
        <td><%= link_to 'Destroy', intellectual_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intellectual Property', new_intellectual_property_path %>
