<body>
  <div id="content">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>
                    
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">SEIICIT</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <%= link_to 'Inicio', root_path, class: "nav-link"%>
                               <!--  <a class="nav-link" href="#">Pagina de inicio
                                    <span class="sr-only">(current)</span>
                                </a> -->
                            </li>
                            <li class="nav-item">
                                <%= link_to 'Iniciar Sesión', new_user_session_path, class: "nav-link"%>
                            </li>
                            <li class="nav-item active">
                                <%= link_to 'Registrarse', new_user_registration_path, class: "nav-link active" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to 'Centros', centers_path,class: "nav-link"%>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar
                            </button>
                        </form>
                    </div>
                </div>
            </nav>


    <div class="container">
      <div class="card">
        <article class="card-body">

        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :role %><br />
            <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

        </article>
      </div>
    <!-- Card -->
    </div>
  </div>
</body>

