<%= form_with(model: centro_investigacion, local: true) do |form| %>
  <% if centro_investigacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(centro_investigacion.errors.count, "error") %> prohibited this centro_investigacion from being saved:</h2>

      <ul>
      <% centro_investigacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :abreviacion %>
    <%= form.text_field :abreviacion %>
  </div>

  <div class="field">
    <%= form.label :sitio %>
    <%= form.text_field :sitio %>
  </div>

  <div class="field">
    <%= form.label :domicilio %>
    <%= form.text_field :domicilio %>
  </div>

  <div class="field">
    <%= form.label :fecha_inicio %>
    <%= form.date_select :fecha_inicio %>
  </div>

  <div class="field">
    <%= form.label :nombre_encargado %>
    <%= form.text_field :nombre_encargado %>
  </div>

  <div class="field">
    <%= form.label :correo_encargado %>
    <%= form.text_field :correo_encargado %>
  </div>

  <div class="field">
    <%= form.label :telefono_encargado %>
    <%= form.text_field :telefono_encargado %>
  </div>

  <div class="field">
    <%= form.label :sectores %>
    <%= form.text_field :sectores %>
  </div>

  <div class="field">
    <%= form.label :industrias %>
    <%= form.text_field :industrias %>
  </div>

  <div class="field">
    <%= form.label :areas_investigacion %>
    <%= form.text_field :areas_investigacion %>
  </div>

  <div class="field">
    <%= form.label :servicios_idti %>
    <%= form.text_field :servicios_idti %>
  </div>

  <div class="field">
    <%= form.label :terreno_total %>
    <%= form.text_field :terreno_total %>
  </div>

  <div class="field">
    <%= form.label :terreno_privada %>
    <%= form.text_field :terreno_privada %>
  </div>

  <div class="field">
    <%= form.label :terreno_federal %>
    <%= form.text_field :terreno_federal %>
  </div>

  <div class="field">
    <%= form.label :terreno_estatal %>
    <%= form.text_field :terreno_estatal %>
  </div>

  <div class="field">
    <%= form.label :terreno_otro %>
    <%= form.text_field :terreno_otro %>
  </div>

  <div class="field">
    <%= form.label :equip_total %>
    <%= form.text_field :equip_total %>
  </div>

  <div class="field">
    <%= form.label :equip_privado %>
    <%= form.text_field :equip_privado %>
  </div>

  <div class="field">
    <%= form.label :equip_federal %>
    <%= form.text_field :equip_federal %>
  </div>

  <div class="field">
    <%= form.label :equip_estatal %>
    <%= form.text_field :equip_estatal %>
  </div>

  <div class="field">
    <%= form.label :equip_otro %>
    <%= form.text_field :equip_otro %>
  </div>

  <div class="field">
    <%= form.label :area_edificio %>
    <%= form.text_field :area_edificio %>
  </div>

  <div class="field">
    <%= form.label :area_terreno %>
    <%= form.text_field :area_terreno %>
  </div>

  <div class="field">
    <%= form.label :area_total %>
    <%= form.text_field :area_total %>
  </div>

  <div class="field">
    <%= form.label :area_idi %>
    <%= form.text_field :area_idi %>
  </div>

  <div class="field">
    <%= form.label :lista_equipo %>
    <%= form.text_area :lista_equipo %>
  </div>

  <div class="field">
    <%= form.label :patentes_solicitadas_mexico %>
    <%= form.text_area :patentes_solicitadas_mexico %>
  </div>

  <div class="field">
    <%= form.label :disenos_solicitados_mexico %>
    <%= form.text_area :disenos_solicitados_mexico %>
  </div>

  <div class="field">
    <%= form.label :patentes_solicitadas_triadicas %>
    <%= form.text_area :patentes_solicitadas_triadicas %>
  </div>

  <div class="field">
    <%= form.label :patentes_otorgadas_mexico %>
    <%= form.text_area :patentes_otorgadas_mexico %>
  </div>

  <div class="field">
    <%= form.label :disenos_otorgados_mexico %>
    <%= form.text_area :disenos_otorgados_mexico %>
  </div>

  <div class="field">
    <%= form.label :patentes_otorgadas_triadicas %>
    <%= form.text_area :patentes_otorgadas_triadicas %>
  </div>

  <div class="field">
    <%= form.label :marcas_registradas %>
    <%= form.text_area :marcas_registradas %>
  </div>

  <div class="field">
    <%= form.label :derechos_registrados %>
    <%= form.text_area :derechos_registrados %>
  </div>

  <div class="field">
    <%= form.label :publicaciones_isi %>
    <%= form.text_area :publicaciones_isi %>
  </div>

  <div class="field">
    <%= form.label :articulos_arb %>
    <%= form.text_area :articulos_arb %>
  </div>

  <div class="field">
    <%= form.label :articulos_no_arb %>
    <%= form.text_area :articulos_no_arb %>
  </div>

  <div class="field">
    <%= form.label :citas_articulos %>
    <%= form.text_area :citas_articulos %>
  </div>

  <div class="field">
    <%= form.label :premios_centro %>
    <%= form.text_area :premios_centro %>
  </div>

  <div class="field">
    <%= form.label :responsable_dep_vinculacion %>
    <%= form.text_field :responsable_dep_vinculacion %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :centro_id %>
    <%= form.number_field :centro_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
