<p id="notice"><%= notice %></p>

<h1>Centros de Investigación</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Abreviacion</th>
      <th>Sitio</th>
      <th>Domicilio</th>
      <th>Fecha inicio</th>
      <th>Nombre encargado</th>
      <th>Correo encargado</th>
      <th>Telefono encargado</th>
      <th>Sectores</th>
      <th>Industrias</th>
      <th>Areas investigacion</th>
      <th>Servicios idti</th>
      <th>Terreno total</th>
      <th>Terreno privada</th>
      <th>Terreno federal</th>
      <th>Terreno estatal</th>
      <th>Terreno otro</th>
      <th>Equip total</th>
      <th>Equip privado</th>
      <th>Equip federal</th>
      <th>Equip estatal</th>
      <th>Equip otro</th>
      <th>Area edificio</th>
      <th>Area terreno</th>
      <th>Area total</th>
      <th>Area idi</th>
      <th>Lista equipo</th>
      <th>Patentes solicitadas mexico</th>
      <th>Disenos solicitados mexico</th>
      <th>Patentes solicitadas triadicas</th>
      <th>Patentes otorgadas mexico</th>
      <th>Disenos otorgados mexico</th>
      <th>Patentes otorgadas triadicas</th>
      <th>Marcas registradas</th>
      <th>Derechos registrados</th>
      <th>Publicaciones isi</th>
      <th>Articulos arb</th>
      <th>Articulos no arb</th>
      <th>Citas articulos</th>
      <th>Premios centro</th>
      <th>Responsable dep vinculacion</th>
      <th>User</th>
      <th>Centro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @centro_investigacions.each do |centro_investigacion| %>
      <tr>
        <td><%= centro_investigacion.nombre %></td>
        <td><%= centro_investigacion.abreviacion %></td>
        <td><%= centro_investigacion.sitio %></td>
        <td><%= centro_investigacion.domicilio %></td>
        <td><%= centro_investigacion.fecha_inicio %></td>
        <td><%= centro_investigacion.nombre_encargado %></td>
        <td><%= centro_investigacion.correo_encargado %></td>
        <td><%= centro_investigacion.telefono_encargado %></td>
        <td><%= centro_investigacion.sectores %></td>
        <td><%= centro_investigacion.industrias %></td>
        <td><%= centro_investigacion.areas_investigacion %></td>
        <td><%= centro_investigacion.servicios_idti %></td>
        <td><%= centro_investigacion.terreno_total %></td>
        <td><%= centro_investigacion.terreno_privada %></td>
        <td><%= centro_investigacion.terreno_federal %></td>
        <td><%= centro_investigacion.terreno_estatal %></td>
        <td><%= centro_investigacion.terreno_otro %></td>
        <td><%= centro_investigacion.equip_total %></td>
        <td><%= centro_investigacion.equip_privado %></td>
        <td><%= centro_investigacion.equip_federal %></td>
        <td><%= centro_investigacion.equip_estatal %></td>
        <td><%= centro_investigacion.equip_otro %></td>
        <td><%= centro_investigacion.area_edificio %></td>
        <td><%= centro_investigacion.area_terreno %></td>
        <td><%= centro_investigacion.area_total %></td>
        <td><%= centro_investigacion.area_idi %></td>
        <td><%= centro_investigacion.lista_equipo %></td>
        <td><%= centro_investigacion.patentes_solicitadas_mexico %></td>
        <td><%= centro_investigacion.disenos_solicitados_mexico %></td>
        <td><%= centro_investigacion.patentes_solicitadas_triadicas %></td>
        <td><%= centro_investigacion.patentes_otorgadas_mexico %></td>
        <td><%= centro_investigacion.disenos_otorgados_mexico %></td>
        <td><%= centro_investigacion.patentes_otorgadas_triadicas %></td>
        <td><%= centro_investigacion.marcas_registradas %></td>
        <td><%= centro_investigacion.derechos_registrados %></td>
        <td><%= centro_investigacion.publicaciones_isi %></td>
        <td><%= centro_investigacion.articulos_arb %></td>
        <td><%= centro_investigacion.articulos_no_arb %></td>
        <td><%= centro_investigacion.citas_articulos %></td>
        <td><%= centro_investigacion.premios_centro %></td>
        <td><%= centro_investigacion.responsable_dep_vinculacion %></td>
        <td><%= centro_investigacion.user %></td>
        <td><%= centro_investigacion.centro_id %></td>
        <td><%= link_to 'Show', centro_investigacion %></td>
        <td><%= link_to 'Edit', edit_centro_investigacion_path(centro_investigacion) %></td>
        <td><%= link_to 'Destroy', centro_investigacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Centro de Investigación', new_centro_investigacion_path %>
