<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @centro_investigacion.nombre %>
</p>

<p>
  <strong>Abreviacion:</strong>
  <%= @centro_investigacion.abreviacion %>
</p>

<p>
  <strong>Sitio:</strong>
  <%= @centro_investigacion.sitio %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @centro_investigacion.domicilio %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @centro_investigacion.fecha_inicio %>
</p>

<p>
  <strong>Nombre encargado:</strong>
  <%= @centro_investigacion.nombre_encargado %>
</p>

<p>
  <strong>Correo encargado:</strong>
  <%= @centro_investigacion.correo_encargado %>
</p>

<p>
  <strong>Telefono encargado:</strong>
  <%= @centro_investigacion.telefono_encargado %>
</p>

<p>
  <strong>Sectores:</strong>
  <%= @centro_investigacion.sectores %>
</p>

<p>
  <strong>Industrias:</strong>
  <%= @centro_investigacion.industrias %>
</p>

<p>
  <strong>Areas investigacion:</strong>
  <%= @centro_investigacion.areas_investigacion %>
</p>

<p>
  <strong>Servicios idti:</strong>
  <%= @centro_investigacion.servicios_idti %>
</p>

<p>
  <strong>Terreno total:</strong>
  <%= @centro_investigacion.terreno_total %>
</p>

<p>
  <strong>Terreno privada:</strong>
  <%= @centro_investigacion.terreno_privada %>
</p>

<p>
  <strong>Terreno federal:</strong>
  <%= @centro_investigacion.terreno_federal %>
</p>

<p>
  <strong>Terreno estatal:</strong>
  <%= @centro_investigacion.terreno_estatal %>
</p>

<p>
  <strong>Terreno otro:</strong>
  <%= @centro_investigacion.terreno_otro %>
</p>

<p>
  <strong>Equip total:</strong>
  <%= @centro_investigacion.equip_total %>
</p>

<p>
  <strong>Equip privado:</strong>
  <%= @centro_investigacion.equip_privado %>
</p>

<p>
  <strong>Equip federal:</strong>
  <%= @centro_investigacion.equip_federal %>
</p>

<p>
  <strong>Equip estatal:</strong>
  <%= @centro_investigacion.equip_estatal %>
</p>

<p>
  <strong>Equip otro:</strong>
  <%= @centro_investigacion.equip_otro %>
</p>

<p>
  <strong>Area edificio:</strong>
  <%= @centro_investigacion.area_edificio %>
</p>

<p>
  <strong>Area terreno:</strong>
  <%= @centro_investigacion.area_terreno %>
</p>

<p>
  <strong>Area total:</strong>
  <%= @centro_investigacion.area_total %>
</p>

<p>
  <strong>Area idi:</strong>
  <%= @centro_investigacion.area_idi %>
</p>

<p>
  <strong>Lista equipo:</strong>
  <%= @centro_investigacion.lista_equipo %>
</p>

<p>
  <strong>Patentes solicitadas mexico:</strong>
  <%= @centro_investigacion.patentes_solicitadas_mexico %>
</p>

<p>
  <strong>Disenos solicitados mexico:</strong>
  <%= @centro_investigacion.disenos_solicitados_mexico %>
</p>

<p>
  <strong>Patentes solicitadas triadicas:</strong>
  <%= @centro_investigacion.patentes_solicitadas_triadicas %>
</p>

<p>
  <strong>Patentes otorgadas mexico:</strong>
  <%= @centro_investigacion.patentes_otorgadas_mexico %>
</p>

<p>
  <strong>Disenos otorgados mexico:</strong>
  <%= @centro_investigacion.disenos_otorgados_mexico %>
</p>

<p>
  <strong>Patentes otorgadas triadicas:</strong>
  <%= @centro_investigacion.patentes_otorgadas_triadicas %>
</p>

<p>
  <strong>Marcas registradas:</strong>
  <%= @centro_investigacion.marcas_registradas %>
</p>

<p>
  <strong>Derechos registrados:</strong>
  <%= @centro_investigacion.derechos_registrados %>
</p>

<p>
  <strong>Publicaciones isi:</strong>
  <%= @centro_investigacion.publicaciones_isi %>
</p>

<p>
  <strong>Articulos arb:</strong>
  <%= @centro_investigacion.articulos_arb %>
</p>

<p>
  <strong>Articulos no arb:</strong>
  <%= @centro_investigacion.articulos_no_arb %>
</p>

<p>
  <strong>Citas articulos:</strong>
  <%= @centro_investigacion.citas_articulos %>
</p>

<p>
  <strong>Premios centro:</strong>
  <%= @centro_investigacion.premios_centro %>
</p>

<p>
  <strong>Responsable dep vinculacion:</strong>
  <%= @centro_investigacion.responsable_dep_vinculacion %>
</p>

<p>
  <strong>User:</strong>
  <%= @centro_investigacion.user %>
</p>

<p>
  <strong>Centro:</strong>
  <%= @centro_investigacion.centro_id %>
</p>

<%= link_to 'Edit', edit_centro_investigacion_path(@centro_investigacion) %> |
<%= link_to 'Back', centro_investigacions_path %>
