<div class="nested-fields">
  <div class="field">
    <%= f.label "Nombre"%>
    <%= f.text_field :name %>
    <%= f.label "Año" %>
    <%= f.date_select :date, discard_day: true, discard_month: true %>
    <%= f.check_box :_destroy, hidden: true %>
    <%= link_to_remove_association "Remover premio", f %>
  </div>
</div>
