<div class="nested-fields">
  <%= f.label "Nombre"%>
  <%= f.text_field :name %>
  <%= f.label "Disponible" %>
  <%= f.check_box :available %>
  <%= f.check_box :_destroy, hidden: true %>
 <%= link_to_remove_association "Remover equipo", f %>
</div>
