<%= form_with(model: center, local: true) do |form| %>
  <% if center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(center.errors.count, "error") %> prohibited this center from being saved:</h2>

      <ul>
      <% center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="basic info">
    <h2> Información básica </h2>
    <div class="field">
      <%= form.label "Nombre completo" %>
      <%= form.text_field :full_name %>
    </div>

    <div class="field">
      <%= form.label "Nombre corto" %>
      <%= form.text_field :short_name %>
    </div>

    <div class="field">
      <%= form.label "Sitio web" %>
      <%= form.text_field :website %>
    </div>

    <div class="field">
      <%= form.label "Dirección" %>
      <%= form.text_field :address %>
    </div>

    <div class="field">
      <%= form.label "Inicio de operaciones" %>
      <%= form.date_select :start_date %>
    </div>

    <div class="field">
      <%= form.label "Nombre de director o gerente" %>
      <%= form.text_field :director_name %>
    </div>

    <div class="field">
      <%= form.label "Email de director o gerente" %>
      <%= form.text_field :director_email %>
    </div>

    <div class="field">
      <%= form.label "Teléfono de director o gerente" %>
      <%= form.text_field :director_phone %>
    </div>
</div>
<div id="clusters">
  <h2> Clusters </h2>
  <%= collection_check_boxes(:center, :cluster_ids, Cluster.all, :id, :name) do |cluster| %>
    <%= cluster.label %>
    <%= cluster.check_box%>
  <% end %>
</div>
<div id="industries">
  <h2> Industrias </h2>
  <%= collection_check_boxes(:center, :industry_ids, Industry.all, :id, :name) do |industry| %>
    <%= industry.label %>
    <%= industry.check_box%>
  <% end %>
</div>

<h2> Servicios de IDTi</h2>
<div id="idti_services">
  <%= form.fields_for :idti_services do |idti_service_form| %>
    <%= render 'idti_service_fields', f: idti_service_form %>
  <% end %>
  <%= link_to_add_association 'Agregar servicio', form, :idti_services %>
  </div>
</div>

<h2> Areas de IDTi</h2>
<div id="idti_areas">
  <%= form.fields_for :idti_areas do |idti_area_form| %>
    <%= render 'idti_area_fields', f: idti_area_form %>
  <% end %>
  <%= link_to_add_association 'Agregar área', form, :idti_areas %>
  </div>
</div>


<div id="funding">
  <h2> Infraestructura </h2>
  <h3> Propiedad </h3>
  <div class="field">
    <%= form.label "Area de construcción" %>
    <%= form.text_field :building_area %>
  </div>

  <div class="field">
    <%= form.label "Area de propiedad" %>
    <%= form.text_field :property_area %>
  </div>

  <div class="field">
    <%= form.label "Inversión privada" %>
    <%= form.text_field :property_private_funding %>
  </div>

  <div class="field">
    <%= form.label "Inversión federal" %>
    <%= form.text_field :property_federal_funding %>
  </div>

  <div class="field">
    <%= form.label "Inversión estatal" %>
    <%= form.text_field :property_state_funding %>
  </div>

  <div class="field">
    <%= form.label "Otra inversión" %>
    <%= form.text_field :property_other_funding %>
  </div>

  <div class="field">
    <%= form.label "Fuente de otra inversión" %>
    <%= form.text_field :property_other_source %>
  </div>

  <h3> Equipamiento </h3>

  <div class="field">
    <%= form.label "Inversión privada" %>
    <%= form.text_field :equipment_private_funding %>
  </div>

  <div class="field">
    <%= form.label "Inversión federal" %>
    <%= form.text_field :equipment_federal_funding %>
  </div>

  <div class="field">
    <%= form.label "Inversión estatal" %>
    <%= form.text_field :equipment_state_funding %>
  </div>

  <div class="field">
    <%= form.label "Otra inversión" %>
    <%= form.text_field :equipment_other_funding %>
  </div>

  <div class="field">
    <%= form.label "Fuente de otra inversión" %>
    <%= form.text_field :equipment_other_source %>
  </div>
</div>
<h4> Los siguientes campos son opcionales </h4>
<div id="patents">
  <h2> Patentess y Diseños </h2>

  <div class="field">
    <%= form.label "Patentes solicitadas en México" %>
    <%= form.number_field :requested_patents_mexico %>
  </div>

  <div class="field">
    <%= form.label "Diseños solicitados en México" %>
    <%= form.number_field :requested_designs_mexico %>
  </div>

  <div class="field">
    <%= form.label "Patentes solicitadas en EUA, Europa o Asia"%>
    <%= form.number_field :requested_patents_us_eu_as %>
  </div>

  <div class="field">
    <%= form.label "Patentes otorgadas en México" %>
    <%= form.number_field :given_patents_mexico %>
  </div>

  <div class="field">
    <%= form.label "Diseños obtenidos en México" %>
    <%= form.number_field :given_designs_mexico %>
  </div>

  <div class="field">
    <%= form.label "Patentes obtenidas en EUA, Europa o Asia"%>
    <%= form.number_field :given_patents_us_eu_as %>
  </div>

  <div class="field">
    <%= form.label "Marcas registradas" %>
    <%= form.number_field :trademarks %>
  </div>

  <div class="field">
    <%= form.label "Derechos de autor" %>
    <%= form.text_field :copyrights %>
  </div>

  <div class="field">
    <%= form.label "Publicaciones en el Institue for Scientific Information" %>
    <%= form.number_field :isi_publications %>
  </div>

  <div class="field">
    <%= form.label "Artículos publicados en revistas arbitradas" %>
    <%= form.number_field :arbitrated_publications %>
  </div>

  <div class="field">
    <%= form.label "Artículos publicados en revistas no arbitradas" %>
    <%= form.number_field :non_arbitrated_publications %>
  </div>

  <div class="field">
    <%= form.label "Citas de artículos" %>
    <%= form.number_field :quotes_in_publications %>
  </div>
</div>

<h2> Equipamiento </h2>
<div id="equipments">
  <%= form.fields_for :equipments do |equipment_form| %>
    <%= render 'equipment_fields', f: equipment_form %>
  <% end %>
  <%= link_to_add_association 'Agregar equipo', form, :equipments %>
</div>

<h2> Premios y reconocimientos </h2>
<div id="awards">
  <%= form.fields_for :awards do |award_form| %>
    <%= render 'award_fields', f: award_form %>
  <% end %>
  <%= link_to_add_association 'Agregar premio', form, :awards %>
</div>
<h2> Oficina de transferencia de tecnología </h2>
<div class="field">
  <%= form.label "Nombre de contacto" %>
  <%= form.text_field :transfer_office_contact_name %>
</div>
<div class="field">
  <%= form.label "Email de contacto" %>
  <%= form.text_field :transfer_office_contact %>
</div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
