<p id="notice"><%= notice %></p>



<!-- Seccion del Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SEIICIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Inicio', root_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
       <%= link_to 'Iniciar Sesión', new_user_session_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Registrarse', new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Centros', centers_path,class: "nav-link active"%>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<h1>Centros de investigación</h1>

<table>
  <thead>
    <tr>
      <th>Nombre completo</th>
      <th>Nombre corto</th>
      <th>Sitio web</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @centers.each do |center| %>
      <tr>
        <td><%= center.full_name %></td>
        <td><%= center.short_name %></td>
        <td><%= center.website %></td>
        <td><%= link_to 'Detalle', center %></td>
        <%if can? :update, center %> <td><%= link_to 'Editar', edit_center_path(center) %></td> <% end %>
        <%if can? :update, center %> <td><%= link_to 'Destruir', center ,data: { confirm: 'Seguro que quieres destruir el centro?' }, method: :delete %></td> <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if can_create_center %>
  <%= link_to 'Agregar centro', new_center_path %>
<% end %>
