<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @center.full_name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @center.short_name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @center.website %>
</p>

<p>
  <strong>Address:</strong>
  <%= @center.address %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @center.start_date %>
</p>

<p>
  <strong>Building area:</strong>
  <%= @center.building_area %>
</p>

<p>
  <strong>Property area:</strong>
  <%= @center.property_area %>
</p>

<p>
  <strong>Property private funding:</strong>
  <%= @center.property_private_funding %>
</p>

<p>
  <strong>Property federal funding:</strong>
  <%= @center.property_federal_funding %>
</p>

<p>
  <strong>Property state funding:</strong>
  <%= @center.property_state_funding %>
</p>

<p>
  <strong>Property other funding:</strong>
  <%= @center.property_other_funding %>
</p>

<p>
  <strong>Property other source:</strong>
  <%= @center.property_other_source %>
</p>

<p>
  <strong>Equipment private funding:</strong>
  <%= @center.equipment_private_funding %>
</p>

<p>
  <strong>Equipment federal funding:</strong>
  <%= @center.equipment_federal_funding %>
</p>

<p>
  <strong>Equipment state funding:</strong>
  <%= @center.equipment_state_funding %>
</p>

<p>
  <strong>Equipment other funding:</strong>
  <%= @center.equipment_other_funding %>
</p>

<p>
  <strong>Equipment other source:</strong>
  <%= @center.equipment_other_source %>
</p>

<p>
  <strong>Requested patents mexico:</strong>
  <%= @center.requested_patents_mexico %>
</p>

<p>
  <strong>Requested designs mexico:</strong>
  <%= @center.requested_designs_mexico %>
</p>

<p>
  <strong>Requested patents us eu as:</strong>
  <%= @center.requested_patents_us_eu_as %>
</p>

<p>
  <strong>Given patents mexico:</strong>
  <%= @center.given_patents_mexico %>
</p>

<p>
  <strong>Given designs mexico:</strong>
  <%= @center.given_designs_mexico %>
</p>

<p>
  <strong>Given patents us eu as:</strong>
  <%= @center.given_patents_us_eu_as %>
</p>

<p>
  <strong>Trademarks:</strong>
  <%= @center.trademarks %>
</p>

<p>
  <strong>Copyrights:</strong>
  <%= @center.copyrights %>
</p>

<p>
  <strong>Isi publications:</strong>
  <%= @center.isi_publications %>
</p>

<p>
  <strong>Arbitrated publications:</strong>
  <%= @center.arbitrated_publications %>
</p>

<p>
  <strong>Non arbitrated publications:</strong>
  <%= @center.non_arbitrated_publications %>
</p>

<p>
  <strong>Quotes in publications:</strong>
  <%= @center.quotes_in_publications %>
</p>

<p>
  <strong>Director name:</strong>
  <%= @center.director_name %>
</p>

<p>
  <strong>Director email:</strong>
  <%= @center.director_email %>
</p>

<p>
  <strong>Director phone:</strong>
  <%= @center.director_phone %>
</p>

<%= link_to 'Edit', edit_center_path(@center) %> |
<%= link_to 'Back', centers_path %>
