<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <!--<link rel="stylesheet" href="style2.css"> -->
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    
    <style>
        /*
        DEMO STYLE
        */

        @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
        body {
            font-family: 'Poppins', sans-serif;
            background: #fafafa;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }

        a,
        a:hover,
        a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        .navbar {
            padding: 15px 10px;
            background: #fff;
            border: none;
            border-radius: 0;
            margin-bottom: 40px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        }

        .navbar-btn {
            box-shadow: none;
            outline: none !important;
            border: none;
        }

        .line {
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #ddd;
            margin: 40px 0;
        }

        /* ---------------------------------------------------
        SIDEBAR STYLE
        ----------------------------------------------------- */

        .wrapper {
            display: flex;
            width: 100%;
        }

        #sidebar {
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 999;
            background: #7386D5;
            color: #fff;
            transition: all 0.3s;
        }

        #sidebar.active {
            margin-left: -250px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #6d7fcc;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

        #sidebar ul li.active>a,
        a[aria-expanded="true"] {
            color: #fff;
            background: #6d7fcc;
        }

        a[data-toggle="collapse"] {
            position: relative;
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }

        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6d7fcc;
        }

        ul.CTAs {
            padding: 20px;
        }

        ul.CTAs a {
            text-align: center;
            font-size: 0.9em !important;
            display: block;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        a.download {
            background: #fff;
            color: #7386D5;
        }

        a.article,
        a.article:hover {
            background: #6d7fcc !important;
            color: #fff !important;
        }

        /* ---------------------------------------------------
        CONTENT STYLE
        ----------------------------------------------------- */

        #content {
            width: calc(100% - 250px);
            padding: 40px;
            min-height: 100vh;
            transition: all 0.3s;
            position: absolute;
            top: 0;
            right: 0;
        }

        #content.active {
            width: 100%;
        }

        /* ---------------------------------------------------
        MEDIAQUERIES
        ----------------------------------------------------- */

        @media (max-width: 768px) {
            #sidebar {
                margin-left: -250px;
            }
            #sidebar.active {
                margin-left: 0;
            }
            #content {
                width: 100%;
            }
            #content.active {
                width: calc(100% - 250px);
            }
            #sidebarCollapse span {
                display: none;
            }
        }    
    </style>
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Sidebar</h3>
            </div>

            <ul class="list-unstyled components">
               <!-- <p>Dummy Heading</p> -->
                <!--<li class="active"> -->
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Inicio</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Inicio 1</a>
                        </li>
                        <li>
                            <a href="#">Inicio 2</a>
                        </li>
                        <li>
                            <a href="#">Inicio 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Acerca de</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Página</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Página 1</a>
                        </li>
                        <li>
                            <a href="#">Página 2</a>
                        </li>
                        <li>
                            <a href="#">Página 3</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">Contacto</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>
                
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">SEIICIT</a>

                    
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Pagina de inicio
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <%= link_to 'Iniciar Sesión', new_user_session_path, class: "nav-link"%>
                            </li>
                            <li class="nav-item">
                                <%= link_to 'Registrarse', new_user_registration_path, class: "nav-link" %>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar
                            </button>
                        </form>
                    </div>
                </div>
            </nav>



            <br>
            <div class="container">
                <p id="notice"><%= notice %></p>




                <h1> <%= @center.full_name %> </h1>
                <h2> <%= @center.short_name %> </h2>

                <h2> Información general </h2>
                <p>
                  <strong>Sitio web:</strong>
                  <%= @center.website %>
                </p>

                <p>
                  <strong>Dirección:</strong>
                  <%= @center.address %>
                </p>

                <p>
                  <strong>Inicio de operaciones:</strong>
                  <%= @center.start_date %>
                </p>
                <p>
                  <strong>Nombre del director o gerente:</strong>
                  <%= @center.director_name %>
                </p>

                <p>
                  <strong>Email del director o gerente:</strong>
                  <%= @center.director_email %>
                </p>

                <p>
                  <strong>Teléfono del director o gerente:</strong>
                  <%= @center.director_phone %>
                </p>

                <h2> Infraestructura </h2>
                <h3> Propiedad </h3>
                <p>
                  <strong>Área de construcción:</strong>
                  <%= @center.building_area %>
                </p>

                <p>
                  <strong>Área de terreno:</strong>
                  <%= @center.property_area %>
                </p>

                <p>
                  <strong>Inversión privada:</strong>
                  <%= @center.property_private_funding %>
                </p>

                <p>
                  <strong>Inversión federal:</strong>
                  <%= @center.property_federal_funding %>
                </p>

                <p>
                  <strong>Inversión estatal:</strong>
                  <%= @center.property_state_funding %>
                </p>

                <% if !@center.property_other_funding.blank? %>
                  <p>
                    <strong>Otra inversión:</strong>
                    <%= @center.property_other_funding %>
                  </p>

                  <p>
                    <strong>Fuente de otra inversión:</strong>
                    <%= @center.property_other_source %>
                  </p>
                <% end %>

                <h3> Equipamiento </h3>
                <p>
                  <strong>Inversión privada:</strong>
                  <%= @center.equipment_private_funding %>
                </p>

                <p>
                  <strong>Inversión federal:</strong>
                  <%= @center.equipment_federal_funding %>
                </p>

                <p>
                  <strong>Inversión estatal:</strong>
                  <%= @center.equipment_state_funding %>
                </p>

                <p>
                  <strong>Otra inversión:</strong>
                  <%= @center.equipment_other_funding %>
                </p>

                <p>
                  <strong>Fuente de otra inversión:</strong>
                  <%= @center.equipment_other_source %>
                </p>

                <h2> Patentes y diseños </h2>
                <p>
                  <strong>Patentes solicitadas en México:</strong>
                  <%= @center.requested_patents_mexico %>
                </p>

                <p>
                  <strong>Diseños solicitados en México:</strong>
                  <%= @center.requested_designs_mexico %>
                </p>

                <p>
                  <strong>Patentes solicitadas en EUA, Europa y Asia:</strong>
                  <%= @center.requested_patents_us_eu_as %>
                </p>

                <p>
                  <strong>Patentes otorgadas México:</strong>
                  <%= @center.given_patents_mexico %>
                </p>

                <p>
                  <strong>Diseños obtenidos en México:</strong>
                  <%= @center.given_designs_mexico %>
                </p>

                <p>
                  <strong>Patentes obtenidas en EUA, Europa y Asia:</strong>
                  <%= @center.given_patents_us_eu_as %>
                </p>

                <p>
                  <strong>Marcas registradas:</strong>
                  <%= @center.trademarks %>
                </p>

                <p>
                  <strong>Derechos de autor:</strong>
                  <%= @center.copyrights %>
                </p>

                <p>
                  <strong>Publicaciones en el Institute for Scientific Information:</strong>
                  <%= @center.isi_publications %>
                </p>

                <p>
                  <strong>Artículos publicados en revistas arbitradas:</strong>
                  <%= @center.arbitrated_publications %>
                </p>

                <p>
                  <strong>Artículos publicados en revistas no arbitradas:</strong>
                  <%= @center.non_arbitrated_publications %>
                </p>

                <p>
                  <strong>Citas de artículos:</strong>
                  <%= @center.quotes_in_publications %>
                </p>

                <h2> Equipamiento </h2>
                <table>
                  <tr>
                    <th>Equipo</th>
                    <th>Disponible</th>
                  </tr>
                  <% @center.equipments.each do |equipment| %>
                    <tr>
                      <td> <%="#{equipment.name}" %> </td>
                      <td> <%=equipment.available ? "Si" : "No" %> </td>
                    </tr>
                  <% end %>
                </table>

                <h2> Premios y reconocimientos </h2>
                <table>
                  <tr>
                    <th> Premio </th>
                    <th> Año </th>
                  </tr>
                  <% @center.awards.each do |award| %>
                    <tr>
                      <td> <%= "#{award.name}" %> </td>
                      <td> <%= "#{award.date.year}" %> </td>
                    </tr>
                  <% end %>
                </table>

                <h2> IDTi </h2>
                <h3> Areas</h3>
                <ul>
                <% @center.idti_areas.each do |area| %>
                  <li> <%= "#{area.name}" %> </li>
                <% end %>
                </ul>

                <h3> Servicios</h3>
                <table>
                  <tr>
                    <th> Servicio </th>
                    <th> Industria </th>
                  </tr>
                  <% @center.idti_services.each do |service| %>
                    <tr>
                      <td> <%= "#{service.name}" %> </td>
                      <td> <%= "#{service.industry}" %> </td>
                    </tr>
                  <% end %>
                </table>

                <h2> Clusters </h2>
                <ul>
                  <% @center.clusters.each do |cluster| %>
                    <li> <%= cluster.name %> </li>
                  <% end %>
                </ul>

                <h2> Industrias </h2>
                <ul>
                  <% @center.industries.each do |industry| %>
                    <li> <%= industry.name %> </li>
                  <% end %>
                </ul>

                <%if can? :update, @center %><%= link_to 'Editar', edit_center_path(@center) %> | <% end %>
                <%= link_to 'Regresar', centers_path %>

            </div>
        </div>
    </div>



    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>

</html>




