<p id="notice"><%= notice %></p>

<%
=begin%>
 <p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @company.industry %>
</p>

<p>
  <strong>Reniecyt:</strong>
  <%= @company.reniecyt %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p> 
<%
=end%>

<div
  id="main-content"
  class="container"
  style="background-color: white;"
>
  <h1><%= @company.name %></h1>
  <div class="mt-4">
    <h4><b>Giro:</b><%= @company.industry %></h4>
  </div>
  <div class="d-flex my-3">
    <%= link_to 'Editar', edit_company_path(@company), class: "btn btn-outline-info ml-auto" %>
  </div>
  <div class="card mt-4">
    <div class="card-header">
      <h4>Datos Generales</h4>
    </div>
    <div class="card-body">
      <b>Nombre:</b> <%= @company.name %>
      <br />
      <b>Giro:</b> <%= @company.industry %>
      <br />
      <b>No. de RENIECYT:</b> <%= @company.reniecyt %>
      <br />
      <b>Municipio:</b> <%= @company.location %>
      <br />
    </div>
  </div>
  <%= render partial: "users/contact_info", locals: {user: @company.user} %>
</div>
