<!DOCTYPE html>
<html>
  <head>
    <title>I2T2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to 'SEIICIT', authenticated_root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if current_user&.center_admin?  %>
            <% if current_user&.center %>
              <li class="nav-item">
                <%= link_to 'Centro de investigación', center_path(current_user.center), class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Centro de investigación', new_center_path, class: "nav-link" %>
              </li>
            <% end %>
          <% end %>
          <% if current_user&.investigador?  %>
            <% if current_user&.researcher %>
              <li>
                <%= link_to 'Perfil Investigador', researcher_path(current_user.researcher), class: "nav-link" %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Perfil Investigador', new_researcher_path, class: "nav-link" %>
              </li>
            <% end %>
          <% end %>
          <% if current_user&.usuario_empresa? %>
            <% if current_user&.company %>
              <li>
                <%= link_to 'Perfil Empresa', company_path(current_user.company), class: "nav-link" %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Perfil Empresa', new_company_path, class: "nav-link" %>
              </li>
            <% end %>
          <% end %>
          <% if current_user&.superadmin? || current_user&.admin? %>
            <li>
              <%= link_to 'Importar Usuarios', users_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to 'Panel de Administrador', rails_admin_path, class: "nav-link" %>
            </li>
          <% end %>
          <% if current_user %>
            <li>
              <%= link_to 'Configuración Usuario', edit_user_path(current_user), class: "nav-link" %>
            </li>
          <% end %>
        </ul>
        <% if current_user.nil? %>
          <%= link_to 'Iniciar Sesión', new_user_session_path, class:"btn btn-outline-primary" %>
        <% else %>
          <p class="text-muted m-0 mr-2">
            <%= current_user.email %>
            <span class="badge badge-secondary text-monospace"><%= current_user.role %></span>
          </p>
          <%= link_to 'Cerrar Sesión', destroy_user_session_path, class:"btn btn-outline-secondary" , method: :delete %>
        <% end %>
      </div>
    </nav>
    <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
